<div id="myData"></div>

<hr>

<section>
  <div class="container">
    <div class="row one-box">
      <div class="col-xl-4 col-lg-4 col-md-8 col-sm-12 col-12">
        <img class="mb-3" src="/Images/tea-logo-2.svg" alt="tea Logo (teal)" style="width:40px;">
        <p class="small">tea is a unified packaging infrastructure from the creator of brew that aims to leverage blockchain in order to remunerate open-source developers for their contributions to the larger ecosystem.</p>
        <div class="social-icons flex-start">
          <a href="https://twitter.com/teaxyz">
            <i class="icon-twitter lead me-2"></i>
          </a>
          <a href="https://discord.gg/tea-906608167901876256">
            <i class="icon-discord lead me-2"></i>
          </a>
          <a href="https://github.com/teaxyz/cli">
            <i class="icon-github lead me-2"></i>
          </a>
          <a href="https://t.me/tea_xyz">
            <i class="icon-telegram lead me-2"></i>
          </a>

        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 ps-xl-5 mt-3">
        <h6 class="white mt-2">Quick Links</h6>
        <a class="quick-links" href="https://medium.com/teaxyz">blog</a><br>
        <a class="quick-links" href="/careers/">careers</a><br>
        <a class="quick-links" href="/privacy-policy/">privacy policy</a><br>
        <a class="quick-links" href="/terms-of-use/">terms of use</a><br>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 ps-3 mt-3" style="margin-left:auto;">
        <h6 class="white mb-3 mt-2">Enter your email to join our newsletter:</h6>
          <div class="klaviyo-form-RqTcUf mb-2"></div>
        <p class="small grid-gray">We will never share your information with anyone else; this is just for the occasional newsletter. You can learn more by reading our <a href="/privacy-policy/" style="color:#00ffd0 !important;">privacy policy</a>. </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="small">©<span id="copyYear"></span> tea inc. You can also share our <a href="https://linktr.ee/teaxyz" class="teal" style="color:#00ffd0 !important;">Linktree</a>.</p>
      </div>
    </div>
  </div>
</section>

<style>

  .small{
    line-height: 22px;
  }

  #email_52020276{
    background-color: #1a1a1a !important;
    border: none !important;
    color: #fff !important;
    font-family: "inter", sans-serif !important;
  }

  #email_52020276:focus{
    box-shadow: none !important;
  }

  #email_52020276::placeholder{
    color: #949494 !important;
  }

  #email_52020276::selection{
    background-color: #00ffd0 !important;
    color: #1a1a1a !important;
  }

  .go3894874857{
    width: 80px;
    font-family: "inter", sans-serif !important;
  }

</style>

<script>

  const copyrightDate = new Date().getFullYear();
  document.getElementById('copyYear').innerHTML = copyrightDate;

</script>


<!-- JavaScript Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "c9ohlhyxzf");
</script>
