{{ define "main" }}

<style media="screen">
  h1{
    font-size: 50px !important;
    text-transform: lowercase;
    line-height: 60.4px;
  }
  h2{
    font-size: 42px;
    text-transform: lowercase;

  }
  h3{
    font-size: 28px;
  }
  .lead{
    font-size: 20px;
    font-family: "mona";
    line-height: 26px;
  }
  p{
    font-size:16px;
    line-height:24.4px;
  }
  .product-col{
    border: 1px solid gray;
  }
  .col-content{
    max-width: 420px;
    display: block;
    margin-left:auto;
    margin-right:auto;
  }

</style>

<section class="one-box">
  <div class="container" style="max-width:682px;">
    <div class="row">
      <div class="col">
        <h1 class="text-center">building an economy backed by code</h1>
        <p class="text-center lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempor congue lorem, sed finibus lorem finibus ac. Cras laoreet sapien nibh, pharetra pretium dolor laoreet ut.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <hr>
    <div class="row">
      <div class="row logos" style="padding-top:30px;min-height:128px;width:60%;margin-left:auto;margin-right:auto;">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-3 text-center">
          <a href="https://www.binance.com/en/blog/ecosystem/binance-labs-leads-$8-million-seed-funding-round-for-tea-421499824684903608" target="_blank">
            <img src="/Images/binance.svg" alt="Binance Labs" style="width:140px;">
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-3 text-center">
          <a href="https://techcrunch.com/2022/03/23/open-source-project-tea-is-brew2-for-web3/" target="_blank">
            <img src="/Images/tech-crunch-tea-xyz.svg" alt="Binance Labs" style="width:140px;">
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 p-3 text-center">
          <a href="https://stackoverflow.blog/2022/11/18/the-creator-of-homebrew-has-a-plan-to-get-open-source-contributors-paid-ep-506/" target="_blank">
            <img src="/Images/stackoverflow-logo.svg" alt="Binance Labs" style="width:140px;">
          </a>
        </div>
      </div>
    </div>
      <hr>
  </div>
</section>

<section class="one-box">
  <div class="container">
    <div class="row one-box-down">
      <h3 class="text-center">delightful OSS package management for everyone</h3>
    </div>
    <div class="row">
      <div class="col product-col">
        <div class="col-content one-box">
          <h2 class="text-center">tea/cli</h2>
          <p class="lead text-center">Next-gen, cross-platform package manager</p>
          <p class="text-center mb-5">Simply type commands and tea takes care of the rest. Get the latest versions of open source tools and support specific tool versions for different projects.</p>
          <div class="button" style="display:flex;justify-content:center;">
            <a href="https://dist.tea.xyz/tea.xyz/gui/tea-latest-arm64.dmg">
              <button class="hbtn hb-fill-right github-click" style="width:180px;height:40px;font-size:14px;"><i class="icon-apple"></i>M1/M2 Chip</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col product-col">
        <div class="col-content one-box">
          <h2 class="text-center">tea/cli</h2>
          <p class="lead text-center">Ground-breaking visual package manager</p>
          <p class="text-center">Our visual package manager lets you browse, install, and update open-source software in a snap. Say goodbye to manual updates and hello to streamlined development.</p>
          <div class="button" style="display:flex;justify-content:center;">
            <a href="https://dist.tea.xyz/tea.xyz/gui/tea-latest-arm64.dmg">
              <button class="hbtn hb-fill-right github-click" style="width:180px;height:40px;font-size:14px;"><i class="icon-apple"></i>M1/M2 Chip</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
